In [1]:
a = [1, 2, 3]

In [3]:
b = a
b

[1, 2, 3]

In [4]:
a.append(4)

две ссылки на один объект. Операцию присваивания так же называют связыванием, потому что мы связываем имя с объектом.

In [7]:
b

[1, 2, 3, 4]

In [8]:
a1 = 5
a2 = '5'
a3 = a1 + a2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
a = 5.0
isinstance(a, int)

False

Проверка на итерируемые объекты

In [11]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # не является итерируемой
        return False

In [12]:
isiterable([1, 2, 3])

True

In [13]:
isiterable(4)

False

In [14]:
x = 'hello'
if not isinstance(x, list) and isiterable(x):
    x = list(x)

In [15]:
x

['h', 'e', 'l', 'l', 'o']

In [16]:
a = [1, 2, 3]
b = a
a is b

True

Неизменяемые типы данных

In [17]:
# строка и кротеж

In [18]:
a_typle = (3, 5, (4, 5))
a_typle[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [19]:
a = 5.4
s = str(a)
print(s)

5.4

In [22]:
a = None
a is None

True

In [23]:
b = 5
b is not None

True

In [24]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]